header{
    background-color:purple;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}
body {
    margin: 5;
    padding: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    background-color:antiquewhite;
}
h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
}
/* Styling for main */
main {
    max-width:100%;
    margin: auto;
    padding: auto;
    text-align: left;
}
.grid-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 40vw auto 40px;
    padding: 10px;
    background-color: blanchedalmond;
    background-image: url(https://www.oslomet.no/var/oslomet/storage/images/_aliases/xxxlarge/1/2/5/6/406521-2-nor-NO/75fe67662a99-oslomet-inngang-benjaminward-2400x1200.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.griditem{
    background-color: rgba(168, 180, 247, 0.068);
    color: #000;
    border: 1px, solid, black;
    font-size: medium;
    padding: 10px;
    text-align: center;
    break-inside: avoid-column;
    outline-style: dashed;
    outline: #000;
}
.item1{
    grid-column: 1 / 2;
    grid-row: 1;
}
.item2{
    grid-column: 3 / 4;
    grid-row: 1;
}
.picture{
    height: 100px;
    width: 300px;

}
.image {
    width: 10px; /* Set the width of the box */
    height: 200px; /* Set the height of the box */
    border: 1px solid #ccc; /* Add a border to the box */
    overflow: hidden; /* Hide the overflowing content */
  }
  
  /* Apply styles to the image inside the box */
  .image img {
    max-width: 100%; /* Set the maximum width of the image to 100% of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove extra spacing below the image */
  }
.top {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: beige;
    font-size: larger;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2c3e50;
}