.grid-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 300px 300px auto auto;
    padding: 10px;
    background-color: blanchedalmond;
}
.griditem{
    background-color: rgba(127, 146, 255, 0.671);
    color: #000;
    border: 5px,solid, black;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
.item1{
    grid-column: 1 / 2;
    grid-row: 1;
}
.item2{
    grid-column: 3 / 4;
    grid-row: 1;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
body {
    margin: 5;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-style: italic;
}
/* Styling for main */
main {
    max-width:100%;
    margin: auto;
    padding: auto;
    text-align: left;
}
.navbar{
    width: 30vw;
    height: 300px;
    margin: 5px,black;
    
}
.image {
    width: 300px; /* Set the width of the box */
    height: 200px; /* Set the height of the box */
    border: 1px solid #ccc; /* Add a border to the box */
    overflow: hidden; /* Hide the overflowing content */
  }
  
  /* Apply styles to the image inside the box */
  .image img {
    max-width: 100%; /* Set the maximum width of the image to 100% of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove extra spacing below the image */
  }
.top {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: beige;
    font-size: larger;
}